
* {
    background-color: black;
    padding: 0;
}


.main-containor {
    margin-left: 120px;
    margin-top: 70px;
    /* border: 3px solid rgb(84, 84, 72); */
    height: 660px;
    width: 450px;

}

.long-container {
    font-size: 18px;
    height: 45px;
    width: 360px;
    display: flex;
    margin: auto;
    margin-top: 11px;
    overflow: hidden;
    border-radius: 200px;
    box-shadow: chartreuse;
    border: 4px;
    border-top-style: double;
    border-bottom-style: double;
    border-color: rgb(151, 0, 159);
    /* color: rgb(30, 164, 26); */
    text-shadow: rgb(71, 153, 186);

}

.short-container-1 {
    height: 36px;
    margin-top: 3px;
    margin-left: 8px;
    padding-left: 4px;
    padding-top: 4px;
    width: 210px;
    border-color: rgb(151, 0, 159);
    color: rgb(30, 164, 26);
    text-shadow: rgb(71, 153, 186);

    /* background-color: yellow; */
}

.mid-con {
    color: rgb(0, 180, 24);
    font-family: serif;
    font-size: 25px;
}

.mid-con:hover {
    color: rgb(0, 180, 174);
    font-family: serif;
    font-size: 25px;
}

span sup {
    color: rgb(156, 2, 203);
}

span sup:hover {
    color: rgb(2, 176, 203);

}

.short-container {
    height: 36px;
    margin-right: 2px;
    margin-top: 3px;
    padding-top: 4px;
    width: 150px;
    /* background-color: blueviolet; */
    display: flex;
}

.circle-con {
    height: 30px;
    background-color: rgb(255, 170, 0);
    width: 30px;
    margin-right: 6px;
    margin-top: 3px;
    margin-left: 30px;
    border-radius: 50%;
}

.end-con {
    /* background-color: aqua; */
    font-size: 21px;
    color: rgb(26, 132, 164);
    text-shadow: rgb(71, 153, 186);
}

.end-con:hover {
    /* background-color: aqua; */
    font-size: 21px;
    color: rgb(218, 32, 209);
    text-shadow: rgb(186, 71, 171);
}

.end-con sup {
    font-size: 10px;
}

.caption-1 {
    color: rgb(181, 0, 118);
    border: 2px gray double;
    border-radius: 20px;
    height: 80px;
    width: 340px;
    margin: 720px;
    padding-top: 3px;
    padding-left: 20px;
    margin-top: -109px;

}

.caption-1:hover{
    color: rgb(76, 76, 76);
    font-size: 17px;
    transition: 2s;
    font-weight: 100;
}
p {
    padding-left: 130px;
    color: cadetblue;
    font-size: 19px;


}